<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./email.css
    body
        h2 Confirma tu cuenta UpTask
        p  Ya estas registrado, solo presiona el siguiente boton para validar tu cuenta
        a(href=`${confirmarUrl}`) Consfirmar cuenta
        p Si no puesdes acceder al enlace visita #{confirmarUrl}
        p Si no solicitastes este email, puedes ignorarlo