<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombreProyecto

            if mensajes.error
                .alerta.error= mensajes.error

            p Ingresa una nueva contraseña

            form(id="formulario" class="caja caja-login" method="POST")
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Nueva contraseña" value= email)
                .campo.enviar
                    input(class="boton" type="submit" value="Reestablecer contraseña")